@tailwind base;
@tailwind components;
@tailwind utilities;

.overflow-y-scroll::-webkit-scrollbar {
  display: none;
}

.overflow-y-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hljs {
  background: transparent !important;
}

.mainGrid {
  display: grid;
  grid-template-columns: 120px 1fr 80px;
}

.purple-shadow {
  text-shadow: 5px 5px #9e4bf6;
}
